@import "../mixins";

/*=============================================== Container ===============================================*/

.Container {
    width: 100vw;
    display: grid;
    grid-template-columns: var(--grid-template);
    padding: var(--grid-padding);
    row-gap: var(--margin-m);

    & > * {
        grid-column: var(--grid-column);
    }
}