.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--margin-l) 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;

    nav {
        a {
            &:not(:last-child) {
                margin-right: var(--margin-l);
            }
        }
    }
}