/*=============================================== Homepage ===============================================*/

.Container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    padding: var(--margin-xxl) 0;
    row-gap: var(--margin-m);

    & > * {
        grid-column: 2;
    }
}