/*=============================================== ImageFix ===============================================*/

.Container {
    width: 100%;

    > div {
        position: unset !important;
    }

    .Img {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }
}