@import "../mixins";

/*=============================================== Logo ===============================================*/

.Logo {
    color: black;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
}