/*=============================================== Variables ===============================================*/

:root {
    // Margins
    --margin-xxl: 48px;
    --margin-xl: 32px;
    --margin-l: 24px;
    --margin-m: 16px;
    --margin-s: 12px;
    --margin-xs: 8px;
    --margin-xxs: 4px;

    // Line height
    --line-height: 1.4;

    // Colors
    --primary: green;

    // Fonts
    --font-body: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}