/*=============================================== Variables ===============================================*/

:root {
    // Margins
    --margin-xxl: 48px;
    --margin-xl: 32px;
    --margin-l: 24px;
    --margin-m: 16px;
    --margin-s: 12px;
    --margin-xs: 8px;
    --margin-xxs: 4px;

    // Line height
    --line-height: 1.5;

    // Colors

    // Fonts
    --font-body: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    // Font weights
    --font-weight: 400;
    --font-weight-bold: 700;

    // Container
    --grid-template: 1fr 600px 1fr;
    --grid-column: 2;
    --grid-padding: var(--margin-xxl) 0;

    @include mobile() {
        --grid-template: 1fr;
        --grid-column: 1;
        --grid-padding: var(--margin-xxl) 5vw;
    }
}